<%-include('./partials/head.ejs')%>
<%-include('./partials/header.ejs')%>
<%if(currentUser) {%>
<div class="max-w-3xl mx-auto mt-10 text-center">
  <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-12 rounded shadow-md mt-6 text-left">
        <div class="flex items-center justify-center">
          <svg class="h-6 w-6 text-blue-500 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11.414V7h-2v2.586l-2.293-2.293-1.414 1.414L10 12.414l5.707-5.707-1.414-1.414L11 8.586z" clip-rule="evenodd"/>
      </svg>
      <h3 class="font-bold text-xl">Welcome, <%=currentUser.firstname%>!</h3>
    </div>
  </div>
  <%} else {%>
    <div class="p-4 bg-yellow-100 mx-auto max-w-2xl border-l-4 mt-10 border-yellow-500 text-yellow-700 mb-12 text-left">
      <h3 class="font-bold text-sm">Become a Member and Enjoy All the Benefits!</h3>
      <p class="mt-2 text-xs">You are viewing this page as a guest. As a member, you will have exclusive access to all features, including the ability to view, comment, and create new messages, as well as interact with other community members.</p>
      <p class="mt-4 font-semibold text-xs" >Don't wait any longer! Become a member now and start enjoying these incredible benefits!</p>
      <a href="/signup" class="inline-block mt-4 px-5 text-xs py-2.5 bg-blue-500 text-white rounded-full hover:bg-blue-600">Become a member</a>
    </div>
  <%}%>
  <div>
    <div>
  <% messages.forEach(message => { %> 
    <% if (currentUser) {%> 
      <div class="flex  flex-col items-center gap-2.5 mt-10">
        <div class="flex flex-col w-full max-w-2xl leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700 text-left">
          <h3 class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"><%=message.title%></h3>
          <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white"><%= message.message %></p>
          <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Delivered</span>
          <div class="flex items-center space-x-2 rtl:space-x-reverse">
            <span class="text-xs mr-4 font-normal text-gray-500 dark:text-gray-400">Author:</span>
            <span class="text-sm font-semibold text-gray-900 dark:text-white"><%=currentUser.firstname%> <%=currentUser.lastname%></span>
            <span class="text-sm font-normal text-gray-500 dark:text-gray-400"><%=message.createdat%></span>
          </div>
          <div class="flex">
          <a class="inline-block float-right text-right mt-4 px-5 text-xs py-2.5 bg-blue-500 text-white rounded-full hover:bg-blue-600" href="/create/new/message">Add new</a>
        </div>
      </div>
      </div>
    <% } else { %> 
      
      <div class="flex flex-col items-center gap-2.5">
        <div class="flex flex-col w-full max-w-2xl mt-10 mx-auto leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700 text-left">
          <h3 class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"><%=message.title%></h3>
          <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white"><%= message.message %></p>
          <div class="flex items-center space-x-2 rtl:space-x-reverse">
            <span class="text-xs mr-4 font-normal text-gray-500 dark:text-gray-400">Author:</span>
            <span class="text-sm font-semibold text-gray-900 dark:text-white">Anonymous</span>
            <span class="text-sm font-normal text-gray-500 dark:text-gray-400"><%= message.createdat %></span>
          </div>
          <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Delivered</span>
          <div class="">
        <a class="inline-block mt-4 px-5 text-xs py-2.5 bg-blue-500 text-white rounded-full hover:bg-blue-600" href="/create/new/message">Add new</a>
      </div>
        </div>
        
    </div>
    <% } %>
  <% }) %>
</div>
</div>

<%-include('./partials/footer.ejs')%>
